.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 3fr 3fr;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gameboard h1{
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
}