


.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
}

.nav p {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.5);
}



